@model MovieViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="text-center">
        <h1 class="display-4">Movie Fan</h1>
        <div class="form-horizontal">
            <div class="form-group">
                <table class="table table-responsive" style="width:100%">
                    <tr>
                        <td>
                            <h4>Movie Name</h4>
                        </td>
                        <td>
                            <h4>Movie Director</h4>
                        </td>
                        <td>
                            <h4>Release Date</h4>
                        </td>
                        <td>
                            <h4>Movie Duration</h4>
                        </td>
                        <td>
                            <h4>Movie Actors</h4>
                        </td>
                        <td>
                            <h4>Movie Description</h4>
                        </td>
                    </tr>
                    @foreach (var item in Model.MovieModelList)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.MovieName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MovieDirector)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ReleaseDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MovieDuration)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MovieActors)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MovieDescription)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MovieDescription)
                            </td>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.MovieIMDB.ToString())
                                </td>*@
                        </tr>
                    }
                </table>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.MovieModelSingle.MovieName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.MovieModelSingle.MovieName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MovieModelSingle.MovieName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MovieModelSingle.MovieDirector, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.MovieModelSingle.MovieDirector, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MovieModelSingle.MovieDirector, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MovieModelSingle.ReleaseDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.MovieModelSingle.ReleaseDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MovieModelSingle.ReleaseDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MovieModelSingle.MovieDuration, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.MovieModelSingle.MovieDuration, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MovieModelSingle.MovieDuration, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MovieModelSingle.MovieActors, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.MovieModelSingle.MovieActors, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MovieModelSingle.MovieActors, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MovieModelSingle.MovieDescription, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.MovieModelSingle.MovieDescription, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MovieModelSingle.MovieDescription, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MovieModelSingle.MovieIMDB, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.MovieModelSingle.MovieIMDB, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MovieModelSingle.MovieIMDB, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
                }

                <div>
                    @Html.ActionLink("Back to List", "Index")
                </div>
            </div>
        </div>
    </div>

</div>

