@model MovieViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="text-center">
        <h2 class="display-4">Movie Fan</h2>
        <div class="form-horizontal">
            <div class="form-group">
                <table class="table table-responsive align-content-around table-bordered" style="width:100%">
                    <thead></thead>
                    <thead>
                        <tr>
                            <th>
                                <h5>#</h5>
                            </th>
                            <th>
                                <h5>Name</h5>
                            </th>
                            <th>
                                <h5>Director</h5>
                            </th>
                            <th>
                                <h5>Release Date</h5>
                            </th>
                            <th>
                                <h5>Duration</h5>
                            </th>
                            <th>
                                <h5>Actors</h5>
                            </th>
                            <th>
                                <h5>Description</h5>
                            </th>
                            <th>
                                <h5>IMDB</h5>
                            </th>
                            <th>
                                <h5>Feature</h5>
                            </th>
                        </tr>
                    </thead>
                    @foreach (var item in Model.MovieModelList)
                    {
                        var index = Model.MovieModelList.Select(x => Model.MovieModelList.IndexOf(x)).ToList();
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => index.Count)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MovieName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MovieDirector)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReleaseDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MovieDuration)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MovieActors)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MovieDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MovieIMDB)
                    </td>
                    <td>
                        <a href="">Edit</a><span> | </span><a href="">Delete</a><span> | </span><a href="">Details</a>
                    </td>
                </tr>
                    }
                </table>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                <div class="form-group">
                    <div class="col-md-14">
                        <input asp-for="MovieModelSingle.MovieName" class="form-control", placeholder = "Movie Name") required/>
                        <span asp-validation-for="MovieModelSingle.MovieName" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-14">
                        <input asp-for="MovieModelSingle.MovieDirector" class="form-control" , placeholder="Movie Director" ) required />
                        <span asp-validation-for="MovieModelSingle.MovieDirector" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-14">
                        <input asp-for="MovieModelSingle.ReleaseDate" class="form-control" , placeholder="Release Date" ) required />
                        <span asp-validation-for="MovieModelSingle.ReleaseDate" class="text-danger"></span>
      @*                  @Html.EditorFor(model => model.MovieModelSingle.ReleaseDate, new { htmlAttributes = new { @class = "form-control", @placeholder = "Movie ReleaseDate" }, })
                        @Html.ValidationMessageFor(model => model.MovieModelSingle.ReleaseDate, "", new { @class = "text-danger" })*@
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-14">
                        <input asp-for="MovieModelSingle.MovieDuration" class="form-control" , placeholder="Movie Duration" ) required />
                        <span asp-validation-for="MovieModelSingle.MovieDuration" class="text-danger"></span>
    @*                    @Html.EditorFor(model => model.MovieModelSingle.MovieDuration, new { htmlAttributes = new { @class = "form-control", @placeholder = "Movie Duration" }, })
                        @Html.ValidationMessageFor(model => model.MovieModelSingle.MovieDuration, "", new { @class = "text-danger" })*@
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-14">
                        <input asp-for="MovieModelSingle.MovieActors" class="form-control" , placeholder="Movie Actors" ) required />
                        <span asp-validation-for="MovieModelSingle.MovieActors" class="text-danger"></span>
         @*               @Html.EditorFor(model => model.MovieModelSingle.MovieActors, new { htmlAttributes = new { @class = "form-control", @placeholder = "Movie Actors" }, })
                        @Html.ValidationMessageFor(model => model.MovieModelSingle.MovieActors, "", new { @class = "text-danger" })*@
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-14">
                        <textarea asp-for="MovieModelSingle.MovieDescription" class="form-control" placeholder="Movie Description" rows="5" required maxlength="1000"></textarea>
                        <span asp-validation-for="MovieModelSingle.MovieDescription" class="text-danger"></span>
            @*            @Html.EditorFor(model => model.MovieModelSingle.MovieDescription, new { htmlAttributes = new { @class = "form-control", @placeholder = "Movie Description" }, })
                        @Html.ValidationMessageFor(model => model.MovieModelSingle.MovieDescription, "", new { @class = "text-danger" })*@
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-14">
                        <input asp-for="MovieModelSingle.MovieIMDB" class="form-control" , placeholder="Movie IMDB") required, pattern="^[0-9-.]+([\.,][0-9]+)?"/>
                        <span asp-validation-for="MovieModelSingle.MovieIMDB" class="text-danger", style="display: block; text-align: left; ">Enter Number</span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-14">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
                }

                <div>
                    @Html.ActionLink("Back to List", "Index")
                </div>
            </div>
        </div>
    </div>

</div>

